{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Upload Form</h1>
            <form role="form" method="post" class="account-form" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form %}
                    {{ form | as_bootstrap }}
                {% endif %}
                <div class="form-group">
                    <button type="submit" class="btn btn-orange btn-block">Upload</button>
                </div>
                {% if uploaded_file_url %}
                    <p>File uploaded at <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                {% endif %}
            </form>
            <p><a href="{% url 'home' %}">Return to Home</a></p>
        </div>
    </div>
{% endblock %}